{% extends "common/base.html" %}

{% block title %}
    Your resume
{% endblock title %}

{% block page_content %}
    <div class="pdf-download-btn-container">
        <a class="pdf-download-link-btn" href="#"><i class="bi bi-download"></i><span>Download as PDF</span></a>
    </div>
    <div class="resume-preview-container">
        {% include "partials/created-resume-preview.html" %}
    </div>
    <div class="delete-btn-container">
        <a class="delete-link-btn" href="{% url "delete resume" resume.pk %}">Delete</a>
    </div>
{% endblock page_content %}
